Django>=3.2,<3.3
django-braces
django-modeltranslation
django-impersonate
django-simple-menu
django-debug-toolbar
django-csp
django-extensions
cryptography # Not needed if not using encrypted DB fields
pip-tools
mysqlclient
-e git+https://github.com/UiL-OTS-labs/django-shared-core.git@questions#egg=uil-django-core
bpython
