{% load progress_tags %}

<div class="stepper">
    <ul>
        <li>
            {% progress_item_from_slug "new_reg" %}
            {% if current_question.slug in group_one %}
                <ul>
                    <li>
                        {% progress_item_from_slug "faculty" number="" size="large" %}
                    </li>
                </ul>
            {% endif %}
        </li>
        <li>
            {% progress_item_from_slug "traversal" text="Traversal" %}
        </li>
        <li>
            {% progress_item_from_slug "goal" text="Goal" %}
        </li>
        <li>
            {% progress_item_from_slug "involved_people" text="Involved people" %}
        </li>
        <li>
            {% progress_item_from_slug "information" text="Information" %}
        </li>
        <li>
            {% progress_item_from_slug "retention" text="Retention" %}
        </li>
        <li>
            {% progress_item_from_slug "receivers" text="Receivers" %}
        </li>
        <li>
            {% progress_item_from_slug "software" text="Software" %}
        </li>
        <li>
            {% progress_item_from_slug "security" text="Security" %}
        </li>
        <li>
            {% progress_item_from_slug "documents" text="Documents" %}
        </li>
        <li>
            {% progress_item_from_slug "summary" text="Summary" %}
        </li>
    </ul>
</div>

