{% load progress_tags %}

<div class="stepper">
  <ul>
    {% progress_item_from_slug current_question.slug %}
    <li>
      <a class="stepper-item">
        <span class="stepper-bubble stepper-bubble-largest">1</span>
        <span>Hello</span>
      </a>
    </li>
    <li>
      <a class="stepper-item">
        <span class="stepper-bubble stepper-bubble-largest">2</span>
        <span>World</span>
      </a>
    </li>
    <li>
      <a class="stepper-item">
        <span class="stepper-bubble stepper-bubble-largest">3</span>
        <span>This has children</span>
      </a>
      <ul>
        <li>
          <a class="stepper-item">
            <span class="stepper-bubble stepper-bubble-large"></span>
            <span>Child 1</span>
          </a>
        </li>
        <li>
          <a class="stepper-item">
            <span class="stepper-bubble stepper-bubble-large"></span>
            <span>Child 2</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<ul id="progress">
  {% for item in items %}

    <li class="{{item.css_class}}">
      <a href="{{item.url}}">{{item.title}}</a>
    </li>
  {% empty %}
    No progress items found!
  {% endfor %}
</ul>
