<section class="question">
  <div class="uu-form-row">
    <div class="uu-form-field">
      <label class="form-label d-block" for="id_registration_title">
        Registration title
      </label>
      <input type="text" name="registration_title" value="Demo feb" maxlength="200" class="form-control" required="" id="id_registration_title">
    </div>
  </div>
  <div class="gt-right question-buttons">
    <input type="submit" value="opslaan" class="btn btn-primary mt-4">
  </div>
  <div class="gtph2">&nbsp;</div>
</section>
