{% extends "base/procreg_base.html" %}

{% load static %}
{% load i18n %}
{% load include_if_exists %}
{% load menu %}
{% load messages %}

{% block html_head %}
    {{ block.super }}

    <link href="{% static 'cdh.core/questions.css' %}" rel="stylesheet"/>
    <link href="{% static 'registrations/css/procreg.css' %}" rel="stylesheet"/>
    <link href="{% static 'registrations/css/progress.css' %}" rel="stylesheet"/>

{% endblock %}

{% block content %}
    <div class="uu-sidebar-container uu-sidebar-right">
        <aside class="uu-sidebar">
            <button class="uu-sidebar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#exampleSidebar"
                    aria-expanded="false">
                Show sidebar
            </button>
            <div id="exampleSidebar" class="collapse uu-sidebar-collapse">
                {% block sidebar %}
                    <h2>Sidebar</h2>
                {% endblock %}
            </div>
        </aside>

        <div class="uu-sidebar-content">
            {# We have a lot of blocks with 'content' in the name now; #}
            {# Is there a better name for this? sidebar-content? #}
            {% block main_content %}
                Main content goes here
            {% endblock %}
        </div>
    </div>
{% endblock %}
