{% extends "registrations/base.html" %}
{% load i18n %}

{% block main %}
<h2>{% trans "registrations:main:home" %}</h2>


<div class="projects_list">
    {% for object in object_list %}
    <div class="item">
        <a href="{% url 'registrations:overview' object.pk %}">
            <h5>{{object.title}}</h5>
        </a>
        <ul>
            <li><a href="{% url 'registrations:overview' object.pk %}">
                {% trans "registration:actions:overview" %}
            </a></li>
            <li><a href="#delete">
                {% trans "registration:actions:delete" %}
            </a></li>
        </ul>

    </div>
    {% empty %}
    <div class="item">
        <h5>{% trans "registrations:home:list_empty" %}</h5>
    </div>


    {% endfor %}

</div>

{% endblock %}

{% block sidebar %}
<h6>sidebar</h6>
<a href="{% url 'registrations:new_registration' %}">
    {% trans "registrations:actions:new_registration" %}
</a>

<p>Objects:{{object_list}}</p>



{% endblock %}
