{% extends "registrations/question_progress.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}
{% load registration_tags %}


{% block form %}
<div class="col-12">
  <h2>Editing a question</h2>
  <p>This page facilitates both the creation and editing of Questions. Now with progress bar. </p>
  <ul>
    {% for group in groups %}
      <li>
        {{ group }}
      </li>    
    {% endfor %}
    <li>
      <a href="{% url "registrations:edit_question" reg_pk=reg_pk question="new_involved" group_type=group_type %}">
        {% trans "templates:involved_manager:add_new_group" %}
      </a>
  </ul>
  
</div>
{% endblock %}
