{% extends "registrations/base.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}
{% load registration_tags %}


{% block progress %}

<div class="col-12">

  <h4>Progress bar</h4>
  {% with current=form.slug %}
  {% progress_bar %}
  {% endwith %}
</div>
{% endblock %}
{% block main_content %}
<div class="col-12">
  <h2>Editing a question</h2>
  <p>This page facilitates both the creation and editing of Questions. Now with progress bar.</p>
  <p>The question would usually go here, but this will be a manager instead.</p>
</div>
{% endblock %}
{% block sidebar %}
<div class="col-12">
  <p>Question help goes here!</p>

</div>

{% endblock %}
