{% extends "registrations/base-form.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}
{% load progress_tags %}
{% load registration_tags %}

{% block header_title %}
{% trans "registrations:new_registration:header_title" %}
{% endblock %}

{% block stepper %}
{% endblock %}


{% block form %}
  <div class="uu-form-text-row">
    <div class="uu-form-text">
      <h2>registrations:create:h2</h2>
      <p>Choose a title to create a new registration.</p>
    </div>
    <div class="uu-form-text-aside">
      <p>Top-level FAQ goes here</p>

    </div>
  </div>
  <div class="uu-form-row">
    <div class="uu-form-field">
      <br />
      {% ask_question form %}
      <br />
    </div>
    <div class="uu-form-help">
      <p>
        Question help goes here.
        </p>
    </div>
  </div>

{% endblock %}
