{% extends "registrations/base.html" %}
{% load i18n %}
{% load question_tags %}
{% load registration_tags %}

{% block hero_text %}
<h3>{% trans "registrations:overview:page_title" %}</h3>
{% endblock %}

{% block cover %}
{% endblock %}


{% block main_content %}
<p>
    {% trans "registrations:overview:page_description" %}
</p>

<div class="summary-questions">
{% for question in top_questions %}
{% display_question_small question %}
{% endfor %}

   </div>

<div class="space-top">
    <h3>{% trans "registrations:overview:progress_title" %}</h3>
    {% if blueprint.desired_next %}
    <p>Vervolg uw aanvraag hier:</p>
    {% display_question_header blueprint.get_desired_next %}
    <div class="buttons">
    <a href="{{blueprint.get_desired_next_url}}">
        <button>
            {% trans "registrations:actions:continue" %}
        </button>
    </a>
    </div>

    {% else %}
    <p>Vul alle gegevens hierboven in om verder te gaan.</p>
    {% endif %}




</div>



{% endblock %}

{% block sidebar %}

<h4>
    {% trans "registrations:actions:header" %}
</h4>


<ul>
    <li>
        <a href="{% url "registrations:delete" reg_pk=registration.pk %}">
            {% trans "registrations:actions:delete" %}
        </a>
    </li>
    <li>
        <a href="{% url "registrations:edit_question" reg_pk=registration.pk question='category' %}">
            {% trans "registrations:actions:add_category" %}
        </a>
    </li>
</ul>


{% endblock %}
