{% extends "registrations/base.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}


{% block progress %}
        <div class="col-12">
            <h4>Progress bar</h4>
            <ul id="progress">
                <li>Step</li>
                <li>Step</li>
                <li>Step</li>
                <li>Step</li>
                <li>Step</li>
                <li>Step</li>
            </ul>
        </div>
{% endblock %}
{% block main %}
        <div class="col-12">
            <h2>Editing a question</h2>
            <p>This page facilitates both the creation and editing of Questions. Now with progress bar.</p>

            <br />
            {% ask_question form %}
            <br />
        </div>
{% endblock %}
{% block sidebar %}
        <div class="col-12">
        Question help goes here!
        </div>

{% endblock %}
