{% extends "registrations/base-form.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}
{% load registration_tags %}
{% load progress_tags %}

{% block hero %}
  
{% endblock %}

{% block content %}
  <div class="col-12">

    <div id="response_top">
      <div class="uu-form-row">
        <div class="uu-form-field bg-transparent">
          <h3>{% trans "registrations:response:page_title" %}</h3>
          <p>{% trans "registrations:response:page_description" %}</p>
        </div>
      </div>
    </div>

    <div class="space-top">
      {% for q in completed %}
        <div class="uu-form">
          <div class="uu-form-field">
            <div class="d-flex justify-content-between">
              <h4 class="d-inline">{{q.title}}</h4>
            </div>
          {% include q.summary %}
        </div>
      {% endfor %}
    </div>

      <div class="space-top">
        {% for r in responses %}
          <div class="uu-form">
            <div class="uu-form-field">
              <div class="d-flex justify-content-between">
                <h4 class="d-inline">Response</h4>
              </div>
            {% include r.summary %}
          </div>
        {% endfor %}
      </div>

    <hr />
    {% if registration.status == "submitted" %}
    <div class="uu-form-text-row">
      <div class="uu-form-text">
        <h3> {{ question.title }} </h3>
        {% include question.description %}
      </div>

    </div>
    <div class="uu-form-row">
      <div class="uu-form-field">
        <br />
        {% ask_question question %}
        <br />
      </div>
    </div>
    {% endif %}

    <hr />

  </div>
{% endblock %}
