{% extends "registrations/base.html" %}
{% load i18n %}
{% load question_tags %}
{% load registration_tags %}


{% block progress %}


<div class="col-12">

            <h4>Progress bar</h4>

{% progress_bar %}
  
            <h4>Progress bar (fake)</h4>
  
            <ul id="progress">
	      
	      <li class="completed">
		<a href="#">Completed</a>
	      </li>
	      <li class="current">
		<a href="#">Current</a>
	      </li>
	      <li class="">
		<a href="#">Normal</a>
	      </li>
	      <li class="completed">
		<a href="#">Completed</a>
	      </li>
	      <li class="current completed">
		<a href="#">Current completed</a>
	      </li>
	      <li class="">
		<a href="#">Normal</a>
	      </li>
            </ul>
        </div>


{% endblock %}


{% block main %}
<div class="col-12">
    <h3>{% trans "registrations:summary:page_title" %}</h3>

    <p>
	{% trans "registrations:summary:page_description" %}
    </p>

    <div class="summary-questions">

    </div>

    <div class="space-top">



	{% for question in completed %}
	{% display_question question %}
	{% endfor %}


    </div>


</div>
{% endblock %}

{% block sidebar %}

<h4>
    {% trans "registrations:actions:header" %}
</h4>


<ul>
    <li>
        <a href="{% url "registrations:delete" reg_pk=registration.pk %}">
            {% trans "registrations:actions:delete" %}
        </a>
    </li>
    <li>
        <a href="{% url "registrations:create_question" reg_pk=registration.pk question='category' %}">
            {% trans "registrations:actions:add_category" %}
        </a>
    </li>
</ul>


{% endblock %}
