{% extends "registrations/base-form.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}
{% load registration_tags %}
{% load progress_tags %}

{% block hero %}
  
{% endblock %}

{% block stepper %}

  {% progress_bar view.blueprint "summary" %}

{% endblock %}


{% block form %}
  <div class="col-12">

    <div id="summary_top">
      <div class="uu-form-row">
        <div class="uu-form-field bg-transparent">
          <h3>{% trans "registrations:summary:page_title" %}</h3>
          <p>{% trans "registrations:summary:page_description" %}</p>
        </div>
        <div class="uu-form-help">
          <p></p>
        </div>
      </div>
    </div>

    <p>
    </p>


    <div class="space-top">
      {% for q in completed %}
        <div class="uu-form-row">
          <div class="uu-form-field">
            <div class="d-flex justify-content-between">
              <h4 class="d-inline">{{q.title}}</h4>
              <a href="{{q.get_edit_url}}">
                {% trans "questions:actions:edit" %}
              </a></div>
            {% include q.summary %}
          </div>
          <div class="uu-form-help">
            <p>
              {% include q.faqs.help_text %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="space-top">
      {% for r in responses %}
        <div class="uu-form">
          <div class="uu-form-field">
            <div class="d-flex justify-content-between">
              <h4 class="d-inline">Response</h4>
            </div>
          {% include r.summary %}
        </div>
      {% endfor %}
    </div>

    <hr />

    <div class="uu-form-text-row">
      <div class="uu-form-text">
        <h3> {{ question.title }} </h3>
        {% include question.description %}
      </div>

    </div>
    <div class="uu-form-row">
      <div class="uu-form-field">
        <br />
        {% ask_question question %}
        <br />
      </div>
    </div> 

    <hr />
    
    <div id="complete_registration">
      <h3>{% trans "views:summary:submit_h3" %}</h3>
      {% if view.blueprint.submittable %}
        <p>{% trans "views:summary:is_submittable" %}</p>
        <a class="btn btn-primary" href="#"></a>
      {% else %}
        <p>{% trans "views:summary:not_submittable" %}</p>
      {% endif %}
    </div>


  </div>
{% endblock %}
